.dark {
    --bg-dark: #262c35;
    background-color: var(--bg-dark);
    color: #fff;
}

.dark .mainnav {
    background-color: var(--bg-dark);
}

.dark .logo h1 {
    color: #fff;
}

.dark .searchbar i {
    color: #eaeaea;
}

.dark .headercard {
    background-color: var(--bg-dark);
    box-shadow: 0 0 5px #999;
}

.dark .headercard h3 {
    color: #a5a5a7;
}

.dark .tcard {
    box-shadow: 0 0 5px #999;
}

.dark .tcardinfo h2 {
    color: #a5a5a7;
}

.dark .tcardinfo p {
    color: #777;
}

.dark .tcardbtn:hover {
    box-shadow: 0 0 20px var(--main-color);
}

.dark .catecard {
    box-shadow: 0 0 5px #999;
}

.dark .catecard:hover {
    box-shadow: 0 0 15px #999;
}

.dark .featuredtitles h2 {
    color: #fff;
}

.dark .featuredtitles p {
    color: #ffffff;
}
.dark .quickrecipe-title h2 {
    color: #fff;
}

.dark .quickrecipe-title p {
    color: #ffffff;
}
/* Dark Mode Login and Register Button Styles */
.dark .mainnav button {
    background-color: #2a9d8f;
    /* Green color for dark mode */
    color: #fff;
}

.dark .taste-trail h1,
.dark .taste-trail p {
    color: #fff;
    /* White color for text in dark mode */
}

.dark p{
    color: white;
}
.dark h2{
    color: white;
}
.dark .sticky1{
    color: white;
    background-color: var(--bg-dark);
}
.dark header{
    color: white;
    background-color: var(--bg-dark);
}
.dark .mainnav a{
    color: white;
}
.dark .titleicon{
    color: white;
}
.dark .main-cards{
    color: white;
    background-color: var(--bg-dark);
}
.dark .userProfileContainer{
    color: white;
    background-color: var(--bg-dark);
}
.dark .profile-picture{
    color: black;
    background-color: white;
}
.dark .recipe_description h5 {
    color: white;
    background-color: var(--bg-dark);
}
.dark .recipe_description p {
    color: white;
    background-color: var(--bg-dark);
}
.dark .recipe_description h3 {
    color: white;
    background-color: var(--bg-dark);
}
.dark th{
    border: 3px solid var(--bg-dark);
}
.dark td{
    border: 3px solid var(--bg-dark);
}
.dark .recipe-instruction{
    color: white;
    background-color: var(--bg-dark);
}
.dark .recipe-instruction h5{
    color: white;
    background-color: var(--bg-dark);
}
.dark .ingredient-serving th{
    background-color: var(--bg-dark);
    color: white;
}
.dark textarea{
    background-color: var(--bg-dark);
    color: white;
}
.dark .comment-card{
    background-color: var(--bg-dark);
    color: white;
}
.dark .comment-card .user-name{
    background-color: var(--bg-dark);
    color: white;
}
.dark .comment-card p{
    background-color: var(--bg-dark);
    color: white;
}
.dark .comment-section h3 {
    background-color: var(--bg-dark);
    color: white;
}
.dark .password-t label{
    color: white;
}
.dark #Category a{
    color: white;
}