/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e76f51;
    --sec-color: #2a9d8f;
    --btnhover-color: #318077;
    --font-family: "Playfair Display", 'sans-serif';
}

a {
    text-decoration: none;
    color: inherit;
}


/* main start */
main {
    padding: 5vh;
}

.img-container {
    display: flex;
    width: 90%;
    overflow: hidden;
    margin-left: 10vh;
    margin-top: 13vh;
}

.recipeimg {
    flex: 2;
    overflow: hidden;
    border: 2px solid #9b9b9b;
    border-radius: 10px;
}

.recipe_description {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.recipeimg img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.recipe_description h3 {
    margin-top: 30px;
    color: #000000;
    font-size: 40px;
    margin-bottom: 30px;
}


.recipe_description h5 {
    color: #2f2e2e;
    font-size: 25px;
    text-decoration: underline;
}

.recipe_description p {
    color: #363636;
    font-size: 20px;
    margin-bottom: 20px;
}


/*raing, time and print section*/
.rating-time {
    margin-top: 5vh;
    color: black;
    justify-content: center;
    margin-bottom: 5vh;
    align-items: center;
}

.rating-time table {
    width: 500px;
    height: 50px;
    border-collapse: collapse;
}

.rating-time .time {
    font-size: 17px;
    font-weight: 700;
    color: #3d3d3d;
}

.recipe-time table {
    margin-left: 61vh;
    margin-top: 10vh;
}

.rating-time .print-btn i {
    color: #3d3d3d;
}

.rating-time .print-btn i:hover {
    color: var(--main-color);
    cursor: pointer;
}

th, td {
    border: 3px solid #ffffff;
    padding: 12px;
    text-align: center;
    background-color: rgba(234, 214, 193, 0.75);
    border-radius: 15px;
}


/*ingredients and serving calculator*/
.ingredients-recipe {
    display: flex;
    justify-content: space-between;
    color: black;
}

.instruction-container {
    margin-bottom: 15vh;
    margin-top: 7vh;
    justify-content: space-evenly;
}

.recipe-instruction {
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*max-width: 685px;*/
    width: 50%;
    box-sizing: border-box;
}

.recipe-instruction h5 {
    color: #2f2e2e;
    font-size: 25px;
    text-decoration: underline;
}

.recipe-instruction p {
    white-space: pre-wrap;
    font-family: 'Playfair Display', 'sans-serif';
    font-size: 15px;
}

.ingredient-serving table {
    width: 100%;
    border-collapse: collapse;
}

.ingredient-serving th,
.ingredient-serving td {
    border: 1px solid #b7b7b7;
    padding: 8px;
    text-align: center;
    border-radius: 1px;
    /*font-size: 19px;*/
    width: 33.33%;
}

.ingredient-serving th {
    background-color: #f2f2f2;

}

.ingredient-serving tbody tr {
    margin-bottom: 10px;
}

.quantity-button {
    font-size: 18px;
    padding: 3px 8px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin-right: 40px;
}

.ingredient-column-quantity,
.ingredient-column-unit {
    width: 33.33%;
    padding-right: 10px;
}

.ingredient-column-name {
    width: 40%;
    padding-right: 10px;
}

.ingredient-cell {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*rate-comment*/

.recipe-rate-comment {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rating-section {
    display: flex;
    align-items: center;
}

.rating-section p {
    margin-right: 10px;
    margin-bottom: 15px;
}

.rating-section span {
    cursor: pointer;
    font-size: 2.4rem;
    margin-right: 5px;
    color: grey;
}

.rating-section span.active {
    color: orange;
}


/* Comments Section */
.comment-section {
    margin-top: 20px;
}

.comment-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.comment-card {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-card span {
    margin-right: 10px;
}

.comment-info {
    flex: 1;
}

.user-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.comment-info p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

/*footer*/
