/* ServingCalculator.css */

/* Styles for the entire component */
.serving-calculator {
    margin: 20px; /* Adds spacing around the entire component */
}

/* Styles for the heading */
h1 {
    margin-bottom: 10px; /* Adds spacing below the heading */
    font-weight: normal;
    /*font-size: 10px;*/
    font-family: fantasy;
    text-transform: uppercase;
    color: #e76f51;
    cursor: pointer;
    transition: 0.2s ease;
    letter-spacing: 2px;
    text-decoration: none;
}

/* Styles for the serving buttons and display */
.class-serving {
    margin-bottom: 10px; /* Adds spacing below the serving buttons and display */

}

/* Styles for buttons */
.class-serving button {
    margin-right: 10px; /* Adds spacing between buttons */
    padding: 8px 16px; /* Adjust padding for a more visually appealing button */
    background-color: #2a9d8f; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Add pointer cursor on hover */
    font-weight: bold;
}

/* Adds spacing around the servings display */
.class-serving span {
    margin: 0 20px 0 10px;
}

/* Styles for the ingredient list table */
.ingredient-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Adds spacing above the table */
}

/* Styles for table cells (th and td) */
.ingredient-list th, .ingredient-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Background color for table header */
.ingredient-list th {
    background-color: #f2f2f2;
}
