
/* threecards */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.threecards {
    gap: 25px;
    padding: 0 20px;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.main-cards{
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.tcard {
    position: relative;
    width: calc(27% - 20px); /* Adjust the width and gap as needed */
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 80px;
    margin-top: 30px;
}

.tcardimg {
    position: relative;
    width: 100%;
    height: 190px;
    overflow: hidden;
    border-radius: 5px;
}

.tcardimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s ease;
}

.tcard:hover .tcardimg img {
    transform: scale(1.1);
}

.tcardimg span {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 10px;
    border-radius: 5px;
    color: #c9c5c5;
}

.tcardimg span:hover {
    cursor: pointer;
    color: red;
}

.tcardinfo {
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

.tlabel {
    color: brown;
    font-weight: 600;
    font-size: 13px;
}

.tcardinfo h2 {
    font-size: 20px;
    color: #222;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family);
}

.tcardinfo p {
    font-size: 14px;
    line-height: 22px;
    color: #444;
    text-align: center;
}

.tcardinfo ul {
    gap: 12px;
}

.tcardinfo ul li {
    font-size: 12px;
    cursor: pointer;
}

.tcardinfo ul li i {
    margin-right: 5px;
    color: #565656;
}

.tcardinfo ul li:hover {
    color: brown;
}

.tcardbtn {
    position: relative;
    background-color: var(--sec-color);
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    overflow: hidden;
    z-index: 1;
}

.tcardbtn:hover {
    background-color: #318077;
    color: #fff;
    cursor: pointer;
}
